<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Produto</h1>
     </div>
    
     <div class="ui-g-12 ui-md-6 ui-fluid">
       <label>Nome Do Produto</label>
       <input pInputText type="text">
     </div>
     <div class="ui-g-9 ui-md-6 ui-fluid">
      <label>Categoria</label>
      <input pInputText type="text">
    </div>
    <div class="ui-g-9 ui-md-6 ui-fluid">
      <label>preço</label>
      <input pInputText type="text">
    </div>

     <div class="ui-g-12">
       <button pButton type="submit" label="Salvar"></button>
       <button pButton type="button" label="Novo" class="ui-button-info"></button>
       <a routerLink="/produtos">Voltar para Pesquisa</a>

     </div>
    
    </div>
  </form>

</div>