<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Categoria</h1>
     </div>
    
     <div class="ui-g-12 ui-md-9 ui-fluid">
       <label>Nome Da Categoria</label>
       <input pInputText type="text">
     </div>

     <div class="ui-g-12">
       <button pButton type="submit" label="Salvar"></button>
       <button pButton type="button" label="Novo" class="ui-button-info"></button>
       <a routerLink="/categorias">Voltar para Pesquisa</a>
     </div>
    
    </div>
  </form>

</div>