/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#404c51;
    
}

label{
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container{
        width: 970px;
        margin: 0 auto;
    }

    .col-id-header{
        width: 80px;

    }
    .col-id{
        width: 80px;
        text-align: right; 
    }
    .col-acoes-header{
        width: 120px;

    }
    .col-acoes{
        width: 120px;
        text-align: center; 
    }
}